PORT=3000

SHOPIFY_STORE_DOMAIN=supersox-india.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=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
SHOPIFY_API_VERSION=2025-07

POSPATROL_API_KEY=your_api_key_here

CURRENCY_CODE=INR
EXCHANGE_RATE=1
DEFAULT_TERMINAL_ID=01
DEFAULT_SHIFT_NO=01
DEFAULT_LOCATION_CODE=01
SOURCE_NAME=pos

# Shopify location GID -> Pathfinder location code, JSON me
LOCATION_MAP={"gid://shopify/Location/112541172003":"01"}

# Optional: comma separated location GIDs
ONLY_LOCATIONS=gid://shopify/Location/112541172003
